.job-item-details-page {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
}
.job-item-details-container {
  margin: 30px;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skill-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
}
.skill-image {
  margin-right: 20px;
}
.description-url {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.life-at-company-container {
  display: flex;
  justify-content: space-evenly;
}
.life-at-company-image {
  margin: 10px;
}
.similar-jobs-container {
  display: flex;
  flex-wrap: wrap;
}
.similar-jobs-title {
  font-size: 22px;
  margin-left: 30px;
}
.description {
  font-size: 18px;
  font-weight: 500;
}
