.not-found-container {
  background-color: #000000;
  min-height: 100vh;
}
.not-found-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 30px;
}
.not-found-img {
  width: 400px;
}
.description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 25px;
  line-height: 28px;
  color: #f1f5f9;
  margin-bottom: 0;
  text-align: center;
  width: 50%;
}
.paragraph {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 15px;
  line-height: 28px;
  color: #f1f5f9;
  margin-bottom: 0;
  text-align: center;
  width: 50%;
}
